<form [formGroup]="registerAppointmentForm" (ngSubmit)="submitDetails()">
  <div class="flex justify-content-around align-items-center flex-wrap" >
    <div [style]="{width:'250px', height:'250px'}">
      <div class="field">
        <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="type your email" />
        <small
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="block p-error"
        >
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Email should be valid</div>
        <div *ngIf="registerAppointmentForm.get('email')?.hasError('emailNotUnique')" > This email is already used </div>
        </small>
      </div>
      <div class="field">
        <input type="text" pInputText formControlName="name" class="w-full" name="name" placeholder="type your name" />
        <small
        *ngIf="name?.invalid && (name?.dirty || name?.touched)"
        class="block p-error"
        >
        <div *ngIf="name?.errors?.['required']">Name is required.</div>
        <div *ngIf="name?.errors?.['name']">Name should be valid</div>
        </small>
      </div>
      <div class="field w-full">
        <p-inputMask type="text" formControlName="phone" mask="(99) 99999-9999" placeholder="(00) 00000-0000" [unmask]="true" inputStyleClass="w-full"
        styleClass="w-full" ></p-inputMask>
        <small
        *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
        class="block p-error"
        >
        <div *ngIf="phone?.errors?.['required']">Phone is required.</div>
        <div *ngIf="phone?.errors?.['phone']">Phone should be valid</div>
        </small>
      </div>
      <div class="field">
        <p-datepicker formControlName="date" [showIcon]="true" [showOnFocus]="false"></p-datepicker>
      </div>
      <div [style]="{margin:'0 0 10px 0'}">
        <p-datepicker formControlName="time" [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="templatedisplay" >
          <ng-template #inputicon let-clickCallBack="clickCallBack">
              <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
          </ng-template>
        </p-datepicker>
      </div>
      <p-button label="Register Appointment" styleClass="w-full" [disabled]="registerAppointmentForm.invalid" type="submit"/>
      <div class="mt-2">
        Already have an Appointment? <a routerLink="/update" class="text-primary hover:underline cursor-pointer">Edit</a>
      </div>
    </div>
    <div [style]="{width:'306px', height:'350px'}">
      <p-datepicker class="max-w-full" formControlName="dateSelector"  [inline]="true" [showWeek]="false" />
    </div>
  </div>
</form>
