<div>
  <p-card  [style]="{width:'750px', height:'450px'}">
    <div class="flex flex justify-content-evenly flex-wrap" [style]="{width:'750px', height:'400px'}">
      <div [style]="{width:'250px', height:'250px'}">
        <h2>Login</h2>
        <app-login-form ></app-login-form>
      </div>

      <p-divider layout="vertical" />

      <div [style]="{width:'250px', height:'250px'}">
        <h2>Register</h2>
        <app-register-admin-form></app-register-admin-form>
      </div>
    </div>
  </p-card>
</div>
